.body {
  padding-top: 39px;
  padding-left: 10px;
  padding-right: 10px;
  position: relative;
}

.header {
  display: flex;
  flex-direction: column;
}

.title {
  font-family: "Nunito";
  font-size: 42px;
  font-style: normal;
  font-weight: 700;
  line-height: 90%;
  margin-bottom: 28px;
  margin-top: 0;
}

.sorting_container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

@media screen and (min-width: 1024px) {
  .body {
    padding-left: 20px;
    padding-right: 22px;
    padding-top: 62px;
  }
  .header {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    padding-left: 20px;
  }
  .title {
    font-size: 72px;
    width: 50%;
    text-align: left;
    margin: 0;
  }
  .sorting_container {
    column-gap: 10px;
  }
}
