.popup {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  width: 100%;
  left: 0;
  position: fixed;
  top: 0;
  z-index: 12;
}

.container {
  position: relative;
  background-color: #fff;
  padding-left: 8px;
  padding-right: 10px;
  padding-top: 46px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.button_close {
  width: 38px;
  height: 38px;
  background-color: transparent;
  background-image: url("../../images/icon-close.svg");
  background-position: center;
  background-size: cover;
  border: none;
  position: absolute;
  right: 10px;
  top: 8px;
  padding: 0;
  cursor: pointer;
  z-index: 1;
}

@media screen and (min-width: 1024px) {
  .container {
    width: 924px;
    height: auto;
    border-radius: 40px;
    padding-bottom: 50px;
    padding-right: 50px;
    padding-left: 50px;
  }
  .button_close {
    top: 17px;
    right: 18px;
  }
}

@media screen and (min-width: 1920px) {
  .container {
    width: 1214px;
    height: auto;
    border-radius: 45px;
    padding-bottom: 53px;
    padding-right: 60px;
    padding-left: 60px;
  }
  .button_close {
    top: 27px;
    right: 34px;
  }
}
