.container {
  min-width: 355px;
  width: 100%;
  box-sizing: border-box;
  padding-top: 34px;
  padding-bottom: 50px;
  padding-left: 10px;
  padding-right: 14px;
  border-radius: 10px;
  background-color: var(--color-white);
}
.container_important{
  background-color: var(--color-navy);
}

.title {
  font-family: "Nunito";
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: 110%;
  text-align: left;
  margin: 0;
  padding-bottom: 20px;
}

.text_important {
  color: var(--color-white);
}

.text {
  font-family: "Nunito";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 170%;
  text-align: left;
  margin: 0;
  padding-bottom: 24px;
}

.date_container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.date {
  font-family: "Nunito";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  color: var(--color-light-blue);
  margin: 0;
  padding-left: 34px;
  background-image: url("../../images/icon-calendar.svg");
  background-position: left;
  background-repeat: no-repeat;
}

.time {
  background-image: url("../../images/icon-clock.svg");
}

@media screen and (min-width: 1024px) {
  .container {
    min-width: 480px;
    padding-top: 50px;
    padding-bottom: 60px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 20px;
  }
  .title {
    font-size: 32px;
  }
  .text {
    padding-bottom: 64px;
  }
}

@media screen and (min-width: 1920px) {
  .container {
    min-width: 578px;
  }
  .title {
    font-size: 42px;
    padding-bottom: 30px;
  }
  
}
